# Node.js
/node_modules
/.pnp
.pnp.js

# Next.js
/.next
/out

# Production
/build

# Misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode
.idea
*.swp
*.swo
*.swn

# Mac
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# TypeScript
*.tsbuildinfo

# Misc
*.env

/src/generated/prisma
